@charset "UTF-8";


p {
    font-family: 'Raleway', sans-serif;
}

h3{
    font-family: 'Raleway', sans-serif;
}

h5 {
    font-family: 'Raleway', sans-serif;
	align: center;
}

ul {
	width:75%;
    height: auto;
   	font-family: 'Raleway', sans-serif;
    font-weight: normal;
   
}

.nav {
    display: inline;
	padding: 30px 30px 30px 30px;
	text-decoration:none;
}

.tuneList {
	float: left;
	width: 50%;
	padding-left: 5em;
}

.setList {
	float: right;
	width: 50%;
}